html{
    background-color: #D3E4CD;
    /* background-color: #FFF1BD; */
}
body{
    background-color: #97BFB4;
    /* background-color: #F3C892; #97BFB4; */
    width: 763px;
    margin: 0 auto;
    font-family: sans-serif;
}

.top-banner{
    color: white;
    background-color: #064635;
    /* background-color: #146356; */
    display: flex;
    padding: 20px;
}
.logo{
    float: left;
    width: 27%;

}
.banner-title{
    text-align: center;
}
.banner-title p{
    font-size: 15px;
    margin: 5px auto;
    margin-top: 20px;
}
.banner-title h1{
    font-size: 40px;
    margin: 5px auto;
}
.navbar{
    width: 100%;
}
.navbar a{
    float: left;
    padding: 8px 20px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    font-size: 15px;
    background-color: #238856;
    /* deep green #146356 ; 
    light green #5aa13e ;
    #D3DEDC
    #92A9BD
    #7C99AC
    */
    border: 1px solid white;
}
.gap{
    padding: 10px;
}
table,tr{
    width: 100%;
}

td{
    font-size: 14px;
}
sup{
    color: red;
}
.text-field{
    width: 500px;
    height: 22px;
    border-radius: 5px;
    border: 1px solid #238856;
}
.select-field{
    width: 150px;
    height: 22px;
    border-radius: 5px;
    border: 1px solid #238856;
}
.religion-title{
    margin-left: 140px;
}
.address{
    display: flex;
    font-size: 13px;
}
.full-address{
    width: 48%;
    border: 1px solid #238856;
    margin-right: 20px;
    padding: 0px
}
.address-title{
    color: white;
    background-color: #146356;
    margin: 0;
    padding: 7px;   
}
.address-field{
    float: right;
    width: 200px;
    height: 24px;
    border-radius: 5px;
    border: 1px solid #238856;
}
.house{
    height: 40px;
}
.line-break{
    padding-bottom: 5px;
}
.number-field{
    float: left;
}
.number-colon{
    padding-left: 90px;
}
small{
    margin-left: 10px;
    color: red;
}
.body-text{
    font-size: 14px;
    margin: 0;
}
.high-study{
    margin-right: 20px;
    font-size: 13px;
}
.undergrad{
    width: 100%;
    border: 1px solid #238856;
    padding: 0px;
    display: flex;
}
.grad{
    padding-bottom: 30px;
}
.departmental{
    border: none;
}
#department-status{
    float: left;
}
.left-gap{
    padding-left: 50px;
}
.statement{
    text-align: center;
    padding: 20px;
}
button{
    margin-bottom: 20px;
}